/*
    #e74c3c
    #2ecc71
    #3498db
 */

table, th, td {
    border: 2px solid #aaa;
    border-collapse: collapse;
    padding:10px;
}
thead{
    background-color: #ccc;
}
tbody tr:nth-child(even){
    background-color: #eee;
}
a,
form a,
input[type="submit"] {
    display: block;
    width: 130px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #2ecc71;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 5px;
}
a:hover{
    background-color: #0eac51;
}
form a,
.red{
    background-color: #e74c3c;
    float:left;
    border: 1px solid lightgray;
    margin: 0 5px;
}
form a:hover,
.red:hover{
    background-color: #c72c1c;
}
input[type="submit"],
.blue {
    background-color: #3498db;
    float:left;
}
input[type="submit"]:hover,
.blue:hover {
    background-color: #1478bb;
}
.blue,
.red {
    border: 1px solid lightgray;
    margin: 0 5px;
}
